@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');

h1 {
    /* title: */
    font-family: SourceSansPro-Light;
    font-size: 4.375rem;
    color: $site-primary;
    letter-spacing: 3.48px;
    padding: 0;
    margin: 0;
}

menubarFont = @block {
    /* home create glossary: */
    font-family: SourceSansPro-Regular;
    font-size: 1.625rem;
    color: $site-dark;
    letter-spacing: 1.29px;
    padding: 0;
    margin: 0;
}

inputFont = @block {
    /* placeholder: */
    font-family: SourceSansPro-Light;
    font-size: 1.25rem;
    color: $site-light;
    letter-spacing: 1.29px;
    margin: 0;
    padding: 0;

     @media(min-width: 768px) {
        font-size: 1.625rem;         
     }
}

h2 {
    /* subtext: */
    font-family: SourceSansPro-Regular;
    font-size: 1.625rem;
    color: $site-light ;
    letter-spacing: 1.29px;
    padding: 0;
    margin: 0;
}

h3 {
    /* subject: */
    font-family: SourceSansPro-Regular;
    font-size: 2.5rem;
    color: $site-dark;
    letter-spacing: 2.29px;
    margin: 0;
    padding: 0;

     @media(min-width: 768px) {
        font-size: 2.875rem;
     }
}

h4 {
    /* value: */
    font-family: SourceSansPro-Regular;
    font-size: 2.375rem;
    color: $site-dark;
    letter-spacing: 1.89px;
    margin: 0;
    padding: 0;
}

h6 {
    /* attribution: */
    font-family: SourceSansPro-Light;
    font-size: 1.25rem;
    color: $site-light;
    letter-spacing: 0.99px;
    margin: 0;
    padding: 0;
}

p {
    /* > Scapal (translated: */
    font-family: SourceSansPro-Light;
    font-size: 1.125rem;
    color: $site-light;
    letter-spacing: 1.09px;
    margin: 0;
    padding: 0;

     @media(min-width: 768px) {
        font-size: 1.375rem;
     }
}