<!DOCTYPE html>
<html>
    <head>
        {% block head %}

            {% block styles %}
                <link rel="stylesheet" href="/styles/bootstrap.min.css" />
                <link rel="stylesheet" href="/styles/bootstrap-grid.min.css" />
                <link rel="stylesheet" href="/styles/bootstrap-reboot.min.css" />
                <link rel="stylesheet" href="/styles/app.css" />
            {% endblock %}

            {% block scripts %}
                <script src="/scripts/jquery.min.js"></script>
                <script src="/scripts/bootstrap.min.js"></script>
                <script src="https://use.fontawesome.com/2d1b260ddf.js"></script>

                <script src="/scripts/glossary-min.js"></script>
            {% endblock %}
        {% endblock %}
    </head>
    <body>
        <div class="header">
            {{ include("header.twig") }}
        </div>
        <div class="messages">
            {{ include("messages.twig") }}
        </div>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>