{% block add_translation_form %}
    <form id="glossary-translations-add-form" term-id="{{ term_id }}">
        <input type="text" placeholder="Translated term" name="value"/>
        <div class="new-translation-language-container">
            <select id="new-translation-language" name="language_id">
                {% for language in languages %}
                    <option value="{{ language.id }}">
                        {{ language.full_name }}
                    </option>
                {% endfor %}
            </select>
            <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
        </div>
        <div class="glossary-translations-add-button" term-id="{{ term_id }}">
            Add translation
        </div>
    </form>
{% endblock %}