{% block translations %}
    {% set self = translations %}

    {% for key,translation_group in self %}
        <div class="glossary-terms-term-card" termid="{{ term_id }}">
            <div class="term-card-title">
                <span>{{ key }}</span>
            </div>
            {% for translation in translation_group %}            
                <div class="term-card-content">
                        {{ include('glossary-term-translations-translation.twig', {
                            translation: translation
                        }, with_context = false) }}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}