{% block term %}
    {% set self = term.term %}

    <div class="card">
        <div class="card-header">
            <h3>
                {{ self.value }}
            </h3>
        </div>
        <div class="card-block">
            {% if term.translations|length > 0 %}
                <h3>Translations</h3>
                {% block translations %}
                    {{ include('glossary-term-translations.twig', {
                        translations: term.translations,
                        term_id: self.id,
                        languages: languages
                    }, with_context = false) }}
                {% endblock %}
            {% endif %}
        </div>
    </div>
{% endblock %}