{% block term %}
    {% set self = term.term %}

    <div class="glossary-terms-term-group">
        <h4>{{ self.value }}</h4>
    </div>

    <div class="glossary-terms-term-translations" term-id="{{ self.id }}">
        {% if translations|length > 0 %}
            {{ include('glossary-term-translations.twig', {
                translations: term.translations
            }, with_context = false) }}
        {% else %}
            <p>No translations yet, try adding one!</p>
        {% endif %}
    </div>
    {% if session_id %}
        <div class="glossary-terms-term-contribute-form glossary-terms-term-card">
            <div class="term-card-title">
                <span>Contribute Translation</span>
            </div>
            <div class="term-card-content">
                {{ include('glossary-translations-add-form.twig', {
                    term_id: self.id,
                    languages: languages
                }, with_context = false) }}
            </div>
        </div>
    {% endif %}

{% endblock %}