{% extends "base.twig" %}

{% block title %}
Login
{% endblock %}

{% block content %}
    <div class="signup-signin-container">
        <form method="POST" action="/user/login">
            <div class="form-group">
                <label for="user-username">Username</label>
                <input value="{{ form_values['username'] ? form_values['username'] : null }}" type="text" name="username" class="form-control" id="user-username">
            </div>
            <div class="form-group">
                <label for="user-password">Password</label>
                <input value="{{ form_values['password'] ? form_values['password'] : null }}" type="password" name="password" class="form-control" id="user-password">
            </div>
           <div class="submit-button" onclick="$('form').submit();">
                login
            </div>
            <span class="signup-signin-or-bar"><p> - or - </p></span>
            <a href="/user/login/proz">
                <div class="submit-button proz-login">
                    login with ProZ
                </div>
            </a>
        </form>
    </div>
{% endblock %}