{% extends "base.twig" %}

{% block title %}
Signup
{% endblock %}

{% block content %}
    <div class="signup-signin-container">
        <div class="signup-signin-title-bar">
            <h3>Welcome to GlossZ!</h3>
            <h6>create an account below</h6>
        </div>

        <form method="POST" action="/user/signup">
            <div class="form-group">
                <h6>username</h6>
                <input value="{{ form_values['username'] ? form_values['username'] : null }}" type="text" name="username" class="form-control" id="user-username" aria-describedby="usernameHelp" placeholder="TranslatorBob">
                <small id="usernameHelp" class="form-text text-muted">This username will be publically visible to others.</small>
            </div>
            <div class="form-group">
                <h6>email address</h6>
                <input value="{{ form_values['email'] ? form_values['email'] : null }}" type="email" name="email" class="form-control" id="user-email" placeholder="me@proz.com">
            </div>
            <div class="form-group">
                <h6>password</h6>
                <input value="{{ form_values['password'] ? form_values['password'] : null }}" type="password" name="password" class="form-control" id="user-password" aria-describedby="passwordHelp">
                <small id="passwordHelp" class="form-text text-muted">Your password must be at least 7 characters in length.</small>
            </div>
            <div class="submit-button" onclick="$('form').submit();">
                register
            </div>
        </form>
    </div>
{% endblock %}