.messages-container {
    position: relative;
    width: 100%;

    margin-bottom: 3.125rem;

    text-align: center;

    ul {
        position: relative;
        width: 100%;

        margin: 0;
        padding: 0;

        list-style: none;

        li {
            {inputFont}
            color: $site-dark;
        }
    }
}